<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
  <add name="DBConnectionString" connectionString="DataSource = (LocalDB)/MSSQLLocalDB; AttachDbFilename = F:/Software Engineering/BayWynCouriersWinForm/LoginDB.mdf; Integrated Security = True; Connect Timeout = 30"
   providerName="System.Data.SqlClient" />
  <add name="BayWynCouriersWinForm.Properties.Settings.LoginDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LoginDB.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BayWynCouriersWinForm.Properties.Settings.bwcConnectionString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bwc.accdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
</configuration>