<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
  <add name="bwcCon"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Toxic\source\repos\hlr110320\BayWynCouriers\bwc.mdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
</configuration>